*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: #f2f2f2;
}


header{
    background: linear-gradient(to right, #1f53c5, #42a096); /* Ejemplo de gradiente */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 1212px;
    height: 140px;
    background-color: #088fd2;
    margin: 0 auto;

}


.clearfix{
    clear: both;
    float: none;
}

#logotipo{
    width: 35%;
    height: 120px;
    margin: 0 auto;
    padding-top: 20px;
}

#logotipo img{
    display: block;
    width: 90px;
    float: left;
    margin: 0 auto;
}

#logotipo h1{
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    letter-spacing: 2px;    
    font-weight: lighter;
    color: #42a096;
}

/*barra navegacion*/

nav{
    width: 1211px;
    height: 40px;
    margin: 0 auto;
    background-color: #000000;
    border: 1px solid #090249;
    
    font-size: 15px;    
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float: left;
}

nav ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    background: #b4870a;
    box-shadow: 0px 0px 5px #444 inset;
    color: white;
    transition: all 300ms;
}



/*contenido centrar*/

#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
}

.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-radius: 2px;
}

.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer{
    width: 1250px;
    background-color: #1B1E1F;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px gray;
}

.box ul{
    margin-left: 20px;
}

.box form-group{
    width: 50%;
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */
    display: block; /* Asegura que el contenedor se comporte como un bloque */
}

.box form-group input,
.box form-group label{
    display: block;
    border-radius: 3px;
    height: 30px;
}

.box form-group input{
    width: 100%;    
    margin-bottom: 15px;
}

.box form-group input[type="text"]{
    text-transform: none;
}

.box form-group input[type="submit"],
.box form-group input[type="submit"],
.box form-group button{
    padding: 20px 10px;
    margin-top: 5px;
    background: #42a096;
    color: #1B1E1F;
    width: 100%;
    transition: 300ms all;
    text-align:center;
    font-size: 16px;
    line-height: 0.3;
    
}

.box form-group input[type="submit"]:hover,
.box form-group input[type="submit"]:hover,
.box form-group button:hover{
    cursor: pointer;
    background: #256b64;    
}

.box form-group select{
    display: block;
    
    margin-bottom: 15px;
    width: 40%;
    padding: 5px;
}

.message{
    padding: 20px;
    background: #1f7e58;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.error{
    padding: 20px;
    background: #8f0c0c;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.warning{
    padding: 20px;
    background: #bb5410;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.article-item{
    margin-bottom: 20 px;
    margin-top: 20px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    clear: both;
}

.article-item .image{
    width: 120px;
    height: 150px;
    float: left;
    overflow: hidden;
}

.article-item .image img{
    height: 150px;
}

.article-item .data{
    float: left;
    padding: 15px;
    padding-top: 0px;
}

.title {
    text-align: center; 
    font-weight: bold; 
    font-size: 24px; 
    margin-bottom: 20px; 
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-backdrop {
    backdrop-filter: blur(30px); /* Más desenfoque */
    background-color: rgba(0, 0, 0, 0.4); /* Puedes ajustar la opacidad también */
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 400px; /* Ancho del formulario */
    background: #24303c; /* Color de fondo */
    padding: 30px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    font-family: 'calibri'; /* Fuente */
    color: white; /* Color del texto */
    box-shadow: 7px 13px 37px #000; /* Sombra */
    position: fixed; /* Fija el formulario en la pantalla */
    top: 50%; /* Coloca el formulario verticalmente en el centro */
    left: 50%; /* Coloca el formulario horizontalmente en el centro */
    transform: translate(-50%, -50%); /* Ajuste para centrar */
    display: none; /* Inicialmente oculto */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.form-register h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    color: white;  /* Cambia el color del texto a blanco */
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5; 
    font-family: 'calibri';
    font-size: 18px;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    border-radius: 10px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad del fondo */
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    z-index: 500; /* Asegúrate de que esté detrás del formulario */
    display: none; /* Inicialmente oculto */
}

#tituloInscripcion {
    color: white; /* Cambia el color de la letra a blanco */
}

.estado-activo {
    color: white; 
    background-color: #39ff14; 
    padding: 5px;
    border-radius: 10px; 
}

.estado-suspendido {
    color: white; 
    background-color: red; 
    padding: 5px;
    border-radius: 10px; 
}

.estado-finalizado {
    color: white; 
    background-color: blue; 
    padding: 5px;
    border-radius: 10px; 
}

#content h1 {
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio encima del título */
    font-size: 36px; /* Tamaño de fuente */
    color: #42a096; /* Color del texto */
}

#content img {
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin: 20px auto; /* Centra la imagen y añade margen */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    max-width: 80%; /* Limita el ancho máximo */
}

#content h1 {
    color: black; 
    font-family: 'Calibri', sans-serif; 
    font-size: 50px;
}

.cuadros {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px; 
}

.cuadro {
    background-color: #42a096; 
    color: white; 
    padding: 20px; 
    margin: 10px;
    border-radius: 5px;
    width: 400px; 
    height: 50px;
    text-align: center; 
    font-size: 25px; 
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
}

#content h3 {
    color: black; 
    font-family: 'Calibri', sans-serif; 
    font-size: 40px;
    text-align: center;
    margin-bottom: 45px;
}

