{% extends "index.html" %}
{% block content %}
<h1 style="text-align: center;">{{ title }}</h1>

<div style="text-align: right; margin-bottom: 10px;">
<button id="showFormButton" class="btn btn-primary">Inscribir Persona</button>
</div>

<table class="table table-dark table-striped">
   <thead>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
     <tr>
       <th scope="col">#</th>
       <th scope="col">Nombre</th>
       <th scope="col">Apellido</th>
       <th scope="col">Documento</th>
       <th scope="col">Rol </th>
     </tr>
   </thead>
   <tbody>
     {% for estudiante in estudiantes %}
     <tr>
       <th scope="row">{{ forloop.counter }}</th>
       <td>{{ estudiante.nombre }}</td>
       <td>{{ estudiante.apellido }}</td>
       <td>{{ estudiante.dni }}</td>
       <td>{{ estudiante.rol }}</td>
     </tr>
     {% empty %}
       <tr>
           <td colspan="6">No hay estudiantes registrados.</td>
       </tr>
     {% endfor %}
   </tbody>
</table>

<div class="backdrop" id="backdrop"></div>

<section class="form-register" id="registrationForm" style="display: none;">
  <h2>Inscribir Persona</h2> 
      <form action="/registrarPersona/" method="POST">{% csrf_token %}

        <label for="id_nombre">Nombre de la persona</label>
        <input class="controls" type="text" name="txtnombre" placeholder="Nombre" required>
        
        <label for="id_apellido">Apellido de la persona</label>
        <input class="controls" type="text" name="txtapellido" placeholder="Apellido" required>

        <label for="id_dni">Dni de la persona</label>
        <input class="controls" type="text" name="numdni" placeholder="Dni" required>

        <label for="id_telefono">Numero de la persona</label>
        <input class="controls" type"text" name="numtelefono" placeholder="Telefono" required>

        <label for="id_correo">Correo de la persona</label>
        <input class="controls" type"email" name="correo" placeholder="Correo Electronico" required>

        <label for="id_fecha_nacimiento">Fecha de nacimiento de la persona</label>
        <input class="controls" type="date" name="fecha_nacimiento" placeholder="Fecha Nacimiento" required>
        
        <input class="botons" type="submit" value="Guardar" />
        <button type="button" class="btn btn-primary" id="hideFormButton">Cancelar</button>
        </div>
      </form>
    </section>

    <script>
  
      document.getElementById('showFormButton').onclick = function() {
        var form = document.getElementById('registrationForm');
        var backdrop = document.getElementById('backdrop');
        form.style.display = 'block'; 
        backdrop.style.display = 'block'; // Muestra el fondo borroso
      };
    
      document.getElementById('hideFormButton').onclick = function() {
        var form = document.getElementById('registrationForm');
        var backdrop = document.getElementById('backdrop');
        form.style.display = 'none';
        backdrop.style.display = 'none'; // Oculta el fondo borroso
      };
    </script>
 

{% endblock %}
